{
    "apiKey": null,
    "apiLogPath": null,
    "ignoreOriginList": [
        "https://www.tecconcursos.com.br",
        "https://www.grancursosonline.com.br"
    ],
    "webBindAddress": "127.0.0.1",
    "webBindPort": 8765,
    "webCorsOriginList": [
        "http://localhost",
        "https://www.tecconcursos.com.br",
        "https://www.grancursosonline.com.br",
        "null",
        "https://app.qconcursos.com",
        "https://www.qconcursos.com",
        "https://www.deltinha.com.br",
        "https://app.caveira.com"
    ]
}
